/* .container {
  cursor: pointer;
  display: grid;
  gap: var(--spacingM);
  place-items: center;
} */

/* .container::selection {
  background-color: var(--checkboxColor40);
} */

/* .container:has(.input:disabled) {
  cursor: not-allowed;
} */

/* .flowRow {
  grid-auto-flow: row;
  grid-auto-rows: max-content;
}

.flowColumn {
  grid-auto-columns: max-content;
  grid-auto-flow: column;
} */

/* .sizeS {
  --size: 22px;
}

.sizeM {
  --size: 28px;
}

.sizeL {
  --size: 32px;
} */

/* .checkbox {
  border-radius: var(--inputElementBorderRadius);
  height: var(--size);
  overflow: hidden;
  width: var(--size);
} */

/* .input {
  appearance: none;
  border-radius: var(--inputElementBorderRadius);
  border: solid var(--inputElementBorderSize) #808080;
  cursor: inherit;
  height: var(--size);
  width: var(--size);
  outline: none;
} */

/* .input:disabled {
  --disabledColor: #80808040;
  border-color: var(--disabledColor);
} */

/* .input:disabled:checked,
.input:disabled:indeterminate {
  background-color: var(--disabledColor);
} */

/* .input:enabled:checked,
.input:enabled:indeterminate {
  background-color: var(--checkboxColor);
  border-color: var(--checkboxColor);
} */

/* .input:enabled:hover {
  background-image: linear-gradient(
    var(--checkboxColor40),
    var(--checkboxColor40)
  );
  border-color: var(--checkboxColor);
} */

/* .input:enabled:checked:hover,
.input:enabled:indeterminate:hover {
  background-image: linear-gradient(
    var(--checkboxColorFilledHover),
    var(--checkboxColorFilledHover)
  );
  border-color: var(--checkboxColorFilledHover);
} */

/* .input:enabled:active,
.input:enabled:checked:active,
.input:enabled:indeterminate:active {
  background-image: linear-gradient(#00000060, #00000060);
} */

/* .checkmark {
  color: #ffffff;
  display: none;
  place-self: center;
  pointer-events: none;
  position: absolute;
} */

/* .input:disabled + .checkmark {
  color: #808080;
} */

/* .input:checked + .checkmark,
.input:indeterminate + .checkmark {
  display: grid;
} */
