.container {
  align-items: center;
  cursor: pointer;
  display: grid;
  gap: var(--spacingM);
  grid-auto-flow: column;
  grid-template-columns: max-content;
  justify-self: start;
}

.container:has(.input:disabled) {
  cursor: not-allowed;
}

.containerSizeS {
  --size: 22px;
}

.containerSizeM {
  --size: 28px;
}

.containerSizeL {
  --size: 32px;
}

.checkbox {
  height: var(--size);
  overflow: hidden;
  width: var(--size);
}

.input {
  appearance: none;
  border-radius: var(--inputElementBorderRadius);
  border: solid var(--inputElementBorderSize) #808080;
  cursor: inherit;
  height: var(--size);
  width: var(--size);
  outline: none;
}

.input:enabled:hover {
  background-image: linear-gradient(var(--tint40), var(--tint40));
  border-color: var(--tint);
}

.input:enabled:checked:hover {
  background-image: linear-gradient(var(--tintLighter), var(--tintLighter));
  border-color: var(--tintLighter);
}

.input:enabled:active,
.input:enabled:checked:active {
  background-image: linear-gradient(#00000060, #00000060);
}

.input:enabled:checked {
  background-color: var(--tint);
  border-color: var(--tint);
}

.input:disabled {
  --disabledColor: #80808040;
  border-color: var(--disabledColor);
}

.input:disabled:checked {
  background-color: var(--disabledColor);
}

.checkmark {
  color: #ffffff;
  display: none;
  place-self: center;
  pointer-events: none;
  position: absolute;
}

.input:disabled + .checkmark {
  color: #808080;
}

.input:checked + .checkmark {
  display: grid;
}
