.container {
  --size: 200px;
}

.div {
  width: var(--size);
  height: var(--size);
  border-radius: 20%/20%;
  background-color: lightblue;
  position: relative;
}

.div::before,
.div::after {
  content: "";
  position: absolute;
  /* z-index: -1; */
}

.div::before {
  border-radius: 2%/30%;
  background-color: blue;
  top: 30px;
  bottom: 30px;
  right: -2px;
  left: -2px;
}

.div::after {
  border-radius: 30%/2%;
  background-color: green;
  left: 30px;
  right: 30px;
  top: -2px;
  bottom: -2px;
}

.div:hover,
.div:hover::before,
.div:hover::after {
  background-color: #ff4949;
}

.div2 {
  background-color: #ff4949;
  border-radius: 20%;
  width: var(--size);
  height: var(--size);
}
