.container {
  height: calc(100vh - 20px);
}

.listContainer {
  grid-auto-flow: column;
  gap: 20px;
  overflow: hidden;
  overflow-x: auto;
  width: calc(100vw - 260px);
}

.itemContainer {
  aspect-ratio: 2 / 3;
  background-color: #2b80ff40;
  border: solid 5px transparent;
  border-radius: 35px;
  height: 500px;
  padding: 20px;
  place-items: center;
  transition: 0.2s;
  transform: scale(0.97);
}

.itemContainer:hover,
.itemContainer[data-hover="true"] {
  background-color: #2b80ff60;
  transform: scale(1);
}

.itemContainer:active,
.itemContainer[data-active="true"] {
  transform: scale(0.95);
}

.itemContainer[data-selected="true"] {
  background-color: #2b80ff80;
  border-color: #ffffff;
}

.coverImage {
  --size: 250px;
  aspect-ratio: 1;
  background-color: #80808080;
  background-size: cover;
  height: var(--size);
  width: var(--size);
}

.title {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

.artist {
  font-size: 14pt;
  opacity: 0.65;
  text-align: center;
}

.pointer {
  --size: 72px;
  --halfSize: calc(var(--size) / 2);
  --negativeHalfSize: calc(-1 * var(--halfSize));
  border-radius: var(--halfSize);
  position: fixed;
  height: var(--size);
  width: var(--size);
  transition: opacity var(--durationShort), transform var(--durationShort);
  margin-top: var(--negativeHalfSize);
  margin-left: var(--negativeHalfSize);
  z-index: 1;
}
