.container {
}

.subContainer {
  background-color: #80808020;
  gap: var(--spacingM);
  padding: 20px;
}

.title {
  margin: 0;
  padding: 0;
}

.title::before {
  content: "<";
}

.title::after {
  content: "/>";
}

/* .variationContainer {
  align-items: center;
  gap: 20px;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
} */

.positionVariationContainer {
  grid-auto-rows: 120px;
  grid-template-columns: repeat(3, 200px);
}

.positionVariationContainer > div {
  border: solid 1px #80808080;
  place-items: center;
}
