.container {
}

.pointer {
  --size: 72px;
  --halfSize: calc(var(--size) / 2);
  --negativeHalfSize: calc(-1 * var(--halfSize));
  border-radius: var(--halfSize);
  position: fixed;
  height: var(--size);
  width: var(--size);
  transition: opacity var(--durationShort), transform var(--durationShort);
  margin-top: var(--negativeHalfSize);
  margin-left: var(--negativeHalfSize);
  z-index: 1;
}

.floatingCameraDisplay {
  background-color: #222222;
  border: solid 1px #80808080;
  bottom: 0;
  box-shadow: 0px 10px 10px 0px #00000080;
  border-bottom-color: #00000080;
  border-top-color: #ffffff80;
  border-radius: var(--spacingS);
  margin: var(--spacingM);
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
