.container {
  --height: 240px;
  --width: 320px;
  background-color: #000000;
  border: solid 1px #80808080;
  height: var(--height);
  width: var(--width);
  overflow: scroll;
}

.canvas {
  height: var(--height);
  width: var(--width);
}
