.container {
  /* background-color: #111111; */
  height: 90vh;
  padding: var(--spacingXXL);
  place-items: center;
}

.subContainer {
  gap: var(--spacingM);
  grid-template-columns: repeat(3, auto);
}

.button {
  --borderSize: 1px;
  background-color: var(--appBgColor);
  border: solid var(--borderSize) transparent;
  background-clip: padding-box;
  border-radius: var(--spacingM);
  font-size: 12pt;
  height: 64px;
  width: 64px;
  transition:
    background-color 0.1s,
    transform 0.1s;
  /* transform: scale(1); */
}

.button::before {
  box-shadow: var(--shadowValue);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: calc(-1 * var(--borderSize));
  z-index: -1;
  border-radius: inherit;
  background: var(--outlineGradient);
  opacity: var(--outlineOpacity);
}

.button:hover {
  background-color: #00000040;
}

.button:hover::before {
  transform: scale(1.03);
}

.button:active {
  transform: scale(0.97);
}
