.container {
  grid-template-columns: repeat(2, 1fr);
}

.subContainer {
  gap: var(--spacingM);
}

.sampleComponentContainer {
  border: solid 1px var(--separatorColor);
  height: 200px;
  place-items: center;
}
