.container {
  gap: 10px;
}

.focusableView {
  background-color: #80808020;
  border: solid 2px transparent;
  gap: 10px;
  padding: 10px;
}

.focusableView[data-focused="true"] {
  border-color: #2b80ff;
}
