@keyframes busyH {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: calc(
      var(--size) - 4 * var(--inputElementBorderSize)
    );
  }
}

@keyframes busyV {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: calc(
      var(--size) - 4 * var(--inputElementBorderSize)
    );
  }
}
