.container {
}

.spriteBreathe {
  animation: spriteBreathe alternate infinite 1.5s ease-in-out;
}

@keyframes spriteBreathe {
  0% {
    transform: scaleX(101%) scaleY(98%);
  }
  100% {
    transform: scaleX(98%) scaleY(103%);
  }
}
